<h1>Order a Pizza</h1>

<h2>{{ note }}</h2>
{% if created_pizza_pk %}
    <a href="{% url 'edit_order' created_pizza_pk %}">Edit Your Order</a>
{% endif %}

<!-- <form enctype="multipart/form-data" action="{% url 'order' %}" method="post"> -->
<!-- <form action="{% url 'order' %}" method="post" novalidate> -->
<form action="{% url 'order' %}" method="post">
    {% csrf_token %}
    {{ pizzaform }}
<!-- {{ pizzaform.as_p }} -->
<!-- <table>
         {{ pizzaform.as_table }}
     </table> -->
<!-- <ul>
         {{ pizzaform.as_ul }}
     </ul> -->
<!-- <ol>
         {{ pizzaform.as_ul }}
     </ol> -->
<!-- {{ pizzaform.topping1.label_tag }}
     {{ pizzaform.topping1 }}
     {{ pizzaform.topping1.errors }}
     {{ pizzaform.topping2.label_tag }}
     {{ pizzaform.topping2 }}
     {{ pizzaform.topping2.errors }} 
     <label for="{{ pizzaform.size.id_for_label }}">Size: </label>
     {{ pizzaform.size }}
     {{ pizzaform.size.errors }} -->
    <input type="submit" value="Order Pizza">
</form>

<br><br>

Want more than one pizza?

<form action="{% url 'pizzas' %}" method="get">
    {{ multiple_form }}
    <input type="submit" value="Get Pizzas">
</form>
